<div>
  <Button class="button" [routerLink]="[ {outlets:{position1:['a1']}}]">Setup1</Button>
  <Button class="button" [routerLink]="[ {outlets:{position1:['b1']}}]">Setup2</Button>
</div>
<div class="box ">
  TESTBOXA
  <router-outlet name="position1 "></router-outlet>

</div>

<div class="box " style="margin-top:50vh ">
  TESTBOXB
  <router-outlet></router-outlet>
</div>