<div>
  <Button class="button" [routerLink]="[{outlets:{position1:['a1']}}]">Set CompA in box A</Button>
  <Button class="button" [routerLink]="[{outlets:{position1:['b1']}}]">Set CompB in box A</Button>
  <Button class="button" (click)="setup1()">Setup1</Button>
  <Button class="button" (click)="setup2()">Setup2</Button>
</div>
<div class="box ">
  TESTBOXA
  <router-outlet name="position1"></router-outlet>

</div>

<div class="box " style="margin-top:50vh ">
  TESTBOXB
  <router-outlet  name="position2"></router-outlet>
</div>